@import './base.css';
@font-face {
    font-family: "Texturina";
    font-display: auto;
    src: local('Texturina'), url(@/assets/fonts/Texturina/Texturina.ttf) format('truetype');
}

* {
    font-family: "Texturina" !important;
    outline: none !important;
}

i.vue-feather {
    @apply tw--mb-1.5;
    cursor: pointer;
}
